<hr>
<ul>
	<li>id: {{id}}</li>
	<li>description: {{description}}</li>
	<li>department: {{department}}</li>
	<li>creationDate: {{creationDate}}</li>
	<li>users who have voted for this issue: {{usersFirstNames}}</li>
</ul>
