<hr>
Total issues: <strong>{{length}}</strong>
<br>
Filtering by: {{view Em.Select
	content=uniqueAuthors
	optionValuePath="content"
	optionLabelPath="content.fullName"
	prompt="All authors"
	value=selectedAuthor
}}
{{!selectedAuthor.firstName}}
<br>

{{#if isIssues}}
	<table class="table table-striped">
		<thead>
			<th>Vote</th>
			<th>Id</th>
			<th>Title</th>
			<th>Description</th>
			<th>Department</th>
			<th>Creation date</th>
			<th>Votes</th>
			<th>Users with votes</th>
			<th></th>
		</thead>
		<tbody>
		{{#each issue in controller.filtered}}
			<tr>
				<td>{{vote-checkbox checked=voted
									item=issue
									disabled=cantVote
									add="addVote"
									remove="removeVote"}}
				</td>
				<td>{{issue.id}}</td>
				<td>{{issue.title}}</td>
				<td>{{issue.description}}</td>
				<td>{{issue.department}}</td>
				<td>{{issue.creationDate}}</td>
				<td>{{issue.votes.length}}</td>
				<td>{{usersFirstNames}}</td>
				<td>{{#link-to 'issue.update' issue}}Edit{{/link-to}} |
				<button {{action "deleteIssue" issue}}>Delete</button></td>
			</tr>
		{{/each}}
		</tbody>
	</table>
{{else}}
	<p>There are currently no issues. Why don't you use this time to learn Kung Fu?</p>
	<p>Or create a new issue {{#link-to 'issue.create'}}<strong>New Issue</strong>{{/link-to}}</p>
{{/if}}

